@use "../base/variables" as *;


/* ---------------------------------------
	Forms/Inputs
--------------------------------------- */

.no-outline {
	button, a, [tabindex] {
		outline: none;
	}
}

/* Placeholder styling */

input, textarea {
	&::placeholder {
		opacity: 1;
	}
}

/* Input Styling */
$custom-input-height: 40px;
[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select,
.ui-selectmenu-button {
	/* STYLES GO THERE */
	border: 1px solid $color-secondary;
	height: $custom-input-height;
	margin-bottom: 0;
	padding: 10px;
}

// Select styles




textarea[rows] {
	/*Styles for TextArea*/
	height: 150px;
	max-width: 100%;
}

[type=number] {
	-moz-appearance: textfield;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

[type=checkbox],
[type=file],
[type=radio] {
	margin-bottom: 0;
}
